.feynman__link {
  position: absolute;
  text-decoration: none;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  transition: opacity .6s ease 0s;
  z-index: 5;
}
.feynman__link:hover {
  opacity: 0.4;
}
